body {
    font-family: 'Courier New', Courier, monospace;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(red, green, blue, alpha);
    width: 100%;
    max-width: 500%;
    text-align: center;

}

h1, h2 {
    color: black;
}

form {
    text-align: left;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;

}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    
}

button:hover {
    background-color: #28a745;

}

/* Estilo para a lista */
table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;

}
th, td {
    border-bottom: 1px solid #eee;
    padding: 12px;
    text-align: left;

}


th {
    background-color: #f8f9fa;
    color: black;

}

.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(250, 17, 17);
    font-weight: bold;
    
}

.btn-excluir {
    background-color: red;
    color: aqua;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;

}

.btn-excluir:hover {
    background-color: blue;
    
}

.btn-editar {
    background-color: #ec8f02;
    color: #fffefe;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 5px;
}
